* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

.header-container {
   background-color: #d49654;
   width: auto;
   height: 100px;
   display: flex;
   padding: 20px;
   
}

.odin-recipes {
   color: aliceblue;
   font-size: 50px;
   display: flex;
   align-items: center;
   font-family: Hevlvetica, sans-serif;
   font-weight: 700;
   
}

.photo-grid-container {
   display: flex;
   margin: 20px;
   justify-content: center;
   
}

.photo-grid-item {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   flex-grow: 1;

}

.tapa,
.sinigang,
.adobo,
img {
   display: flex;
   align-items: center;
   width: 350px;
   height: 200px;
   
}

.photo-grid-item p {
   display: flex;
   justify-content: center;
   margin: auto;
   background-color: #d49654;
   color: aliceblue;
   padding: 10px;
   font-family: Helvetica, sans-serif;
}
